window {
  margin: 0px;
  background-color: #fdf6e3;
  border-radius: 12px;
  border: 1px solid #5c6a72;
  color: #5c6a72;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 18px;
}

#input {
  margin: 5px;
  border-radius: 0px;
  border: none;
  border-radius: 0px;
  color: #5c6a72;
  background-color: #fdf6e3;
}

#inner-box {
  margin: 5px;
  border: none;
  color: #5c6a72;
  background-color: #fdf6e3;
  border-radius: 12px;
  border: 1px solid #5c6a72;
}

#outer-box {
  margin: 15px;
  border: 1px solid #5c6a72;
  border-radius: 12px;
  color: #5c6a72;
  background-color: #fdf6e3;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #5c6a72;
}

#entry:selected {
  color: #5c6a72;
  background-color: #eaedc8;
  border-radius: 12px;
  outline: none;
}
