@import url("./gruvbox.css");

window {
    margin: 0px;
    border-radius: 12px;
    background: transparent;
}

#input {
    margin: 5px;
    border: none;
    color: #4c4f69;
    background-color: #eff1f5;
}

#inner-box {
    margin: 5px;
    border: none;
    border-radius: 12px;
    background-color: #eff1f5;
}

#outer-box {
    margin: 5px;
    border: none;
    border-radius: 12px;
    background-color: #eff1f5;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #4c4f69;
}

#entry.activatable #text {
    color: #4c4f69;
}


#entry:selected {
    background-color: #7287fd;
    border-radius: 8px;
}

#entry:selected #text {
    font-weight: bold;
}
