window {
  margin: 0px;
  background-color: #073642;
  border-radius: 0px;
  color: #eee8d5;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 18px;
}

#input {
  margin: 5px;
  border-radius: 0px;
  border: none;
  border-radius: 0px;
  color: #eee8d5;
  background-color: #073642;
}

#inner-box {
  margin: 5px;
  border: none;
  color: #eee8d5;
  background-color: #073642;
  border-radius: 0px;
}

#outer-box {
  margin: 15px;
  border: none;
  color: #eee8d5;
  background-color: #073642;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #eee8d5;
}

#entry:selected {
  color: #eee8d5;
  background-color: #586e75;
  border-radius: 0px;
  outline: none;
}
