* {
  font-family: Terminess Nerd Font;
  font-size: 18px;
  min-height: 0;
  font-weight: 500;
}

window {
  background: transparent;
}

.modules-left {
  padding: 0.25em;
  margin: 0.5em;
  border-radius: 1em;
  background: #000000;
  opacity: 0.85;
  color: white;
}

.modules-right {
  padding: 0.25em 0.25em;
  margin: 0.5em;
  border-radius: 1em;
  background: #000000;
  opacity: 0.85;
  color: white;
}

tooltip {
  background: #fdf6e3;
  border-radius: 12px;
  border: 1px solid #5c6a72;
}
tooltip label {
  color: #5c6a72;
  font-weight: 400;
}

#clock,
#network,
#language,
#wireplumber,
#custom-power {
  padding: 0em 0.75em;
}

#workspaces button {
  padding: 0.5em 0.75em;
  color: white;
}

#workspaces button.active {
  background: #ccff33;
  border-radius: 1em;
  color: black;
}

#custom-power {
  color: #ccff33;
}
