@import url("./latte.css");

* {
    border: none;
    font-family: FiraCode Nerd Font;
    font-size: 16px;
    min-height: 22px;
    padding: 2px;
}

window#waybar {
    background: transparent;
}

#workspaces button {
    padding: 0px 10px;
    color: @text;
    border-radius: 8px;
}

#workspaces button.active {
    background: @lavender;
}

#clock,
#network,
#language,
#wireplumber {
    margin: 0px 2px;
    border-radius: 8px;
    padding: 0px 20px;
    color: @text;
    background: @lavender;
}
