@import url("./gruvbox.css");

* {
    border: none;
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    min-height: 22px;
    padding: 2px;
}

window#waybar {
    background: transparent;
}

#workspaces button {
    padding: 0px 4px;
    margin: 0 4px;
    color: @base;
}


#clock,
#network,
#language,
#wireplumber {
    padding: 0px 20px;
    color: @base
}
